:root{
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD982;
    --white:#ffffff;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
}
.product-detail{
    width: 360px;
    position: absolute;
    right: 0;
}
.product-detail-close{
    width: 14px;
    height: 14px;
    background: var(--white);
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}
.product-detail-close:hover{
    cursor: pointer;
   
}
.product-detail img:nth-child(2){
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
    border: 1px solid var(--very-light-pink);
}
.dots{
    text-align: center;
}
.dot{
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: var(--very-light-pink);
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}
.dots span:nth-child(1){
    background-color: var(--hospital-green);
}
.product-info{
    margin: 24px 24px 0 24px;
}
.product-info p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0%;
    margin-bottom:  4px;
}
.product-info p:nth-child(2){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0%;
    margin-bottom:  36pxpx;
    color: var(--very-light-pink);
}
.product-info p:nth-child(3){
    font-size: var(--sm);
    margin-top: 0%;
    margin-bottom:  36pxpx;
    color: var(--very-light-pink);
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 320px;
    cursor: pointer;
    text-align: center;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 24px 24px 24px;
}

@media (max-width:640px){
    .product-detail{
        width: 100%;
    }
}